/* ============================================= */
/*              Main Colors                      */
/* ============================================= */

$base-color: #58e1c1; //teal
$secondary-color: #51ddfc; //blue
$secondary-headline: #777; //grey
$white: #fff; //white

/* BUTTON COLORS */
$default-color: $secondary-color; //blue
$error-color: #e4757a; //light red
$info-color: #927bc1; //purple
$success-color: #63cc82; //green
$warning-color: #fd7856; //bright red

/* ============================================= */
/*              Media Query Variable             */
/* ============================================= */

$breakpoint: 769px;


/* ============================================= */
/*              Button Color Map                 */
/* ============================================= */

$buttons: (
	default: $default-color,
	error: $error-color,
	info: $info-color,
	success: $success-color,
	warning: $warning-color
);

/* ============================================= */
/*              Lighten Color Function           */
/* ============================================= */


@each $btn, $color in $buttons {
	.#{$btn} {
		background-color: #{$color};
		&:hover {
			background-color: lighten($color, 30%);
		}
	}
}



    
